
    <div class="flex-column justify-space-around align-items-center">
        <main class="container container-fluid mt-5 justify-content-center">
          <!-- Render the sub layout -->
          <div class="row mt-6 jumbotron jumbotron-fluid justify-content-center mx-auto">
            <div class="container mt-6">
              <h1 class="display-4 text-center bg-">Bracket Bois</h1>
            </div>
          </div>
            <div class="row justify-content-center mx-auto">
                <div class="card text-center" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Create, View, and Manage tournaments with ease.</h5>
                        <p class="card-text">With Bracket Bois all of your tournament needs are set up for you. With an account you
                            can create and edit your own tournaments or anyone can view any tournament locally or worldwide! Get
                            started with your own tournaments below!</p>
                        <a href="{{#if logged_in}}/profile{{else}}/login{{/if}}" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto">
                <div class="card text-center" style="width: 25rem;">
                    <div class="card">
                      <img class="card-img-top" src=".../100px180/" alt="Tournament example">
                      <div class="card-body">
                        <h5 class="card-title">Example</h5>
                        <p class="card-text">Clean formatting of 4, 8, 16, or 32 'team' tournaments</p>
                      </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="bd-footer text-muted">
          <div class="container-fluid p-3 p-md-5">
              <ul class="bd-footer-links">
                  <li>
                      <a href="https://github.com/christierney3">Github</a>
                  </li>

              </ul>
          </div>
        </footer>
      </div>
    
      <!-- Render script for logged in users only -->
      <script src="/js/logout.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <script>$(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });</script>

