<div class="row tournament-list">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<div class="form-group">
  <a href="/tournaments" class="btn btn-primary">Create Tournament</a>
</div>

{{#if tournaments.length}}
  <div class="col-md-6 tournament-list">
    <h3>Your tournaments</h3>

    {{#each tournaments as |tournament|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tournaments/{{tournament.id}}">{{tournament.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete" data-id="{{tournament.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
