<div class="row mt-4 tournament-list">
  {{#if logged_in}}
  <div class="col-md-6">
    <h3>Create a New Tournament:</h3>

    <form class="form new-tournament-form">
      <div class="form-group">
        <label for="tournament-name">Tournament name:</label>
        <input class="form-input" type="text" id="tournament-name" name="tournament-name" />
      </div>
      <div class="form-group">
        <label for="tournament-size">How many teams will be in the tournament?</label>
        <input class="form-input" type="text" id="tournament-size" name="tournament-size" />
      </div>
      <div class="form-group">
        <label for="start">Start date:</label>
        <input class="form-input" type="date" id="start-date" min="2022-04-13" max="2023-04-13">
        <label for="end">End date:</label>
        <input class="form-input" type="date" id="end-date" min="2022-04-13" max="2023-04-13">
      </div>
      <div class="form-group">
        <label for="tournament-type">Type:</label>
        <textarea class="form-input" id="tournament-type" name="tournament-type"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  {{/if}}
  {{#if tournaments.length}}
  <div class="col-md-6 tournament-list">
    <h3>Current tournaments:</h3>

    {{#each tournaments as |tournament|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tournaments/{{tournament.id}}">{{tournament.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{tournament.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/tournament.js"></script>



